	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #ffffff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #217346;
		
	}
	html { background-color: #191818; }
	body { margin:100px;margin-top: 0px;
	 background-color: #191818; }
	}
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #217346;
	
	}
	/* added */
	ul
	{
		color: #217346;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		
		margin: 0px auto;
		
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 4em;
		text-align: center;
	}
	
	#content .title h2 
	{
		padding-top: 1em;
		letter-spacing: 0.6em;
		text-transform: uppercase;
		font-size: 5em;
		font-weight: 900;
		color: rgba(255,255,255);
		text-shadow: 2px 2px rgba(0,0,0,0.9);
		-webkit-text-stroke-width: 0.5px;
   		-webkit-text-stroke-color: black;
   		padding-left: 0.6em;
   		text-align: left;
   		text-align: center;
   		
	}
	#content .title p
	{
		color: rgba(255,255,255);
		text-shadow: 2px 2px rgba(0,0,0,0.9);
		-webkit-text-stroke-width: 0.5px;
   		-webkit-text-stroke-color: black;

	}
#content .title .byline
	{
		letter-spacing: 0.1em;
		text-indent: 0.1em;
		color: rgba(255,255,255);
		text-shadow: 2px 2px rgba(0,0,0,0.9);
		-webkit-text-stroke-width: 0.5px;
   		-webkit-text-stroke-color: white;
   		padding-top: 2em;
   		text-align: center;
	}


	 .major h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 700;
		color: #217346;
		
	}


	.major .byline
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 2em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
		
	}
	
	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		color: #217346;
			
		
	}
	#featured-wrapper .title h2 {
		padding-bottom: 70PX; 
	}
	#lesspad
	{
		padding-top: 1.3em;
	}

	.title .byline
	{
		display: block;
		padding-top: 3em;
		font-weight: 300;
		font-size: 1.1em;
		vertical-align: top;
		
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: ##191818;
	}
.navbar.fixed-top{
    background: rgba(33, 115, 70, 0.9);
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5  );
    border-radius: 15px;
    width: 75%;
    margin: 0;
    margin-top: 1%;
    left: 12.5%;
  
}
#navbarNavAltMarkup .nav-item{
	padding-right: 4rem;
	padding-left: 4rem;
	font-size: 25px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.navbar-dark .navbar-brand{
    color: rgba(255,255,255,1);
   margin: 0;
}

.navbar{
   padding-left: 0;
  padding-top: 0.5rem;
  margin-top: 0rem;
}

.nevbar-dark .container{
	margin-left: 0;
	padding-left: 0;
}
#backgroundimg
	{
		background: #191818; /*url("images/header.jpg") no-repeat bottom center;*/

		background-attachment: fixed;
		background-size: cover;
		text-align: center;
		margin: 0;
		padding: 0;
		max-width: none;
		width: auto;
		

}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding-top: 2em;
		text-transform: uppercase;
		width: 20%;
  		
	}

	#logo h1
	{
		text-align: center;
		font-weight: 900;
		font-size: 2.5em;
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #3f3f3f;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 20px 0px 20px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #ffffff;
	}
	
	#menu .current_page_item a
	{
	}
	
	#menu a:hover
	{
	}


	#featured .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 20px auto;
		line-height:  normal;
		font-size: 6em;
		text-align: center;
		color: #3f3f3f;
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2
	{
		float: left;
		margin-right: 24px;
	}
	
	.column3
	{
		float: left;
	}
	
	.column4
	{
		float: right;
	}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

	.nav-item
	{ 
		color: #fff;
	 }
	.navbar-brand
	{
		 color:#fff;
	 }
/*********************************************************************************/
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 6em 0em;
		border-top: 0px solid #E5E5E5;


	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: center;

		
	}
	
	#content .title
	{
		padding-bottom: 2em;
		text-align: center;
	}
	/*
	#content h2
	{
		font-size: 2em;
	}
	*/
	#content .byline
	{
		padding-top: 0;
		font-size: 1.5em;
	}
	#content p
	{
		padding-bottom: 2em;
		text-align: center;
		
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 588px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
		border-top: 1px solid #E5E5E5;
		box-shadow: 2px -2px  rgb(33,115,70,30);
		background: #ffffff;
		border-radius: 50px;
		margin-bottom:  20em;

	}
	
	#featured h2
	{
		text-align: center;
	}
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
		border-top: 1px solid #E5E5E5;
		box-shadow: 2px -2px  rgb(33,115,70,30);
		background: #ffffff;
		border-radius: 50px;
		margin-bottom:  20em;
	}
	h4
	{
		padding-bottom: 0em;
		    margin-block-end: 1em
		
	}
	p
	{
		padding-top: 0em;
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
	}
	
	#portfolio img
	{
		margin: 0;
		padding: 0;
	}
	
	#portfolio .box
	{
		padding: 30px;
		background: #FFF;
		border-bottom: 2px solid #7C7C7C;
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
	}
	.checked
	{ 
		color: orange;
	}
	 .fa-star {
		padding-bottom: 50px;
	}


	/* Columns */

	.col-centered {
    
    vertical-align: bottom;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    
    text-align: center;
    

  
	}
	.pulldown {
		display:inline-block;
    	vertical-align: bottom;
    	float:none;
	}
  	.row {
      position: relative;
  }

  	.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/*********************************************************************************/
/* Icons                                                               */
/*********************************************************************************/	
		
	.icon
		{
			text-decoration: none;
		}

			.icon:before
			{
				font-size: 1.25em;
				text-decoration: none;
				font-family: FontAwesome;
				font-weight: normal;
				font-style: normal;
				-webkit-text-rendering: optimizeLegibility;
				-moz-text-rendering: optimizeLegibility;
				-ms-text-rendering: optimizeLegibility;
				-o-text-rendering: optimizeLegibility;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
				-moz-font-smoothing: antialiased;
				-ms-font-smoothing: antialiased;
				-o-font-smoothing: antialiased;
				font-smoothing: antialiased;
				-webkit-font-feature-settings: "liga" 1, "dlig" 1;
				-moz-font-feature-settings: "liga=1, dlig=1";
				-ms-font-feature-settings: "liga" 1, "dlig" 1;
				-o-font-feature-settings: "liga" 1, "dlig" 1;
				font-feature-settings: "liga" 1, "dlig" 1;
			}


/*********************************************************************************/
/* Contact                                                               */
/*********************************************************************************/	

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 550px;
  padding: 19px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  resize: horizontally;
	display: flex;
   justify-content: center;


}
input[type=email], select, textarea {
  width: 550px; /* Full width */
  padding: 19px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  resize: horizontal;
  display: flex;
   justify-content: center;

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50; 
  width: 550px;
  color: white;
  padding: 22px 42px;
  border: none;
  border-radius: 72px;
  cursor: pointer;
  display: flex;
   justify-content: center;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

#contactmeform label
{
	font-size: 16pt;
}
#contact{
	overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
		border-top: 1px solid #E5E5E5;
		box-shadow: 2px -2px  rgb(33,115,70,30);
		background: #ffffff;
		border-radius: 50px;
		margin-bottom:  20em;;

}